@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Roboto+Mono:wght@300;500&family=Poppins:wght@600&display=swap');

/* variables */
:root {
	--primary-color: #be46462c;
	--secondary-black: #0d081a;
	--secondary-gray: #48464b;
	--body-bg: #efebfa;
}

/* global styles */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-family: 'Roboto Mono';
	font-size: 10px;
	scroll-behavior: smooth;
}
body {
	background-color: var(--body-bg);
}
img {
	width: 100%;
	height: 100%;
}
a {
	color: black;
	text-decoration: none;
}

/* 4 day forecast */
.animate__fadeIn {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 0.25s;
}

section { /* faq section */
	display: flex;
	align-items: center;
	justify-content: center;
}
.container {
	width: 90%;
	margin: 0 auto;
	max-width: 1000px;
}
p {
	font-size: 1.6rem;
	color: var(--secondary-black);
}

.section-heading {
	font-size: clamp(2rem, 10vw, 8rem);
	text-transform: uppercase;
	font-family: 'Montserrat';
	letter-spacing: 0.2rem;
	text-align: center;
	position: relative;
	margin-bottom: 10rem;
}
.section-heading::before {
	content: attr(data-outline);
	position: absolute;
	left: 2%;
	top: -20%;
	width: 100%;

	text-align: center;
	text-transform: uppercase;
	font-family: 'Montserrat';
	letter-spacing: 0.2rem;

	color: transparent;
	/* -webkit-text-stroke: 1.5px rgba(0, 0, 0, 0.103); */
	-webkit-text-stroke: 1.5px #5a24ed2f;
	z-index: -1;
}

/* scroll btn */
/* scroll Top/Up Button */
.scroll-top {
	z-index: 100;
	height: 60px;
	width: 60px;
	background-color: white;
	position: fixed;
	bottom: 10px;
	right: 10px;
	cursor: pointer;
	border-radius: 6px;
	box-shadow: 0px 0px 20px rgba(71, 40, 182, 0.226);
	/* hover effect default */
	transform: scale(0.9);
	transition: 0.3s ease-in-out transform;
	/* for centering the icon */
	/* display: flex; */
	display: none;
	align-items: center;
	justify-content: center;
}
.scroll-top svg {
	width: 50%;
	color: black;
	pointer-events: none;
}

.scroll-top:hover {
	transform: scale(1);
}
/* end of scroll */

/* nav */
/* Navigation Section */
#navigation {
	position: fixed;
	right: 50px;
	height: auto;
	top: 20px;
	z-index: 100;
}
#navigation .nav-icon {
	width: 50px;
	height: 50px;
	margin: 0 auto;
	margin-right: 0;
	cursor: pointer;
	background-color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
}
#navigation .nav-icon svg {
	width: 80%;
	color: white;
}
#nav-content {
	position: fixed;
	right: 0;
	width: 80%;
	max-width: 800px;
	height: 100%;
	z-index: 100;
	background-color: var(--secondary-black);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transform: translateX(100%);
	transition: 0.3s ease transform;
}
#nav-content.show {
	transform: translateX(0);
	box-shadow: -6px 0px 29px 7px #000000a3;
}
#nav-content .section-heading {
	text-align: left;
}
#nav-content .section-heading::before {
	content: 'Menu';
	text-align: left;
	-webkit-text-stroke: 1.5px #afadad25;
}
#nav-content .wrapper {
	width: 70%;
	position: relative;
}
#nav-content ul {
	list-style: none;
	text-align: left;
}
#nav-content ul li {
	margin-bottom: 2rem;
}
#nav-content ul li a {
	display: inline-block;
	width: 100%;
	color: white;
	font-size: 5rem;
	font-family: 'Montserrat';
	/* position: relative; */
}
#nav-content ul li a::after {
	content: attr(data-text);
	pointer-events: none;
	position: absolute;
	right: -150px;
	bottom: 30%;
	width: 100%;
	color: transparent;
	-webkit-text-stroke: 1.5px #afadad25;
	opacity: 0;
	transition: 0.3s ease;
	transition-property: opacity, transform;
	z-index: -1;
	text-align: center;
	transform: rotate(90deg) scale(3);
}
#nav-content ul li a:hover::after {
	opacity: 1;
	transform: scale(3) translateY(10px) rotate(90deg);
}
#nav-content .close-btn {
	position: absolute;
	left: 10px;
	top: 10px;
	color: white;
	width: 40px;
	height: 40px;
	background-color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	cursor: pointer;
	transition: 0.3s ease background-color;
}
#nav-content .close-btn:hover {
	background-color: crimson;
}
#nav-content .close-btn svg {
	width: 80%;
}
@media only screen and (max-width: 768px) {
	#navigation {
		right: 10px;
		top: 10px;
	}
	#nav-content nav ul li a::after {
		display: none;
	}
	#nav-content .section-heading {
		text-align: right;
		margin-bottom: 5rem;
	}
	#nav-content .section-heading::before {
		text-align: right;
	}
	#nav-content nav ul {
		text-align: right;
	}
	#nav-content nav ul li a {
		font-size: 2.5rem;
	}
	#nav-content .wrapper {
		width: 90%;
	}
}
/* end of nav */

/* contact style */

#contact {
    padding: 10rem 0;
}

#contact .wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 5rem;
}
#contact .wrapper .left,
#contact .wrapper .right {
    flex: 1;
}

#contact .left .contact-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    margin-bottom: 1rem;
}
#contact .left .contact-desc {
    color: var(--secondary-gray);
    margin-bottom: 5rem;
}
#contact .left .contact-info {
    margin-bottom: 5rem;
}
#contact .left .contact-info ul{
    list-style: none;
}
#contact .left .contact-info ul li {
    border-radius: 12px;
    overflow: hidden;
}
#contact .left .contact-info ul a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 2rem;
    padding: 1.5rem;
    gap: 1rem;
}

#contact .left .contact-info ul li:hover {
    background-color: var(--primary-color);
}
#contact .left .contact-info ul li:hover .text {
    color: white;
}
#contact .left .contact-info ul li:hover .icon {
    color: white;
}
#contact .left .contact-info ul li a .icon{
    width: 25px;
    color: var(--primary-color);
}
#contact .left .contact-info ul li a .text {
    color: var(--secondary-gray);
}

#contact .right .form-wrapper {
    background-color: var(--primary-color);
    max-width: 500px;
    margin: 0 auto;
    padding: 5rem;
    border-radius: 12px;
    color: white;
}
#contact .right .form-group {
    margin-bottom: 1rem;
}
#contact .right .form-group label {
    margin-bottom: 0.5rem;
    display: inline-block;
    font-size: 1.8rem;
}
#contact .right .form-group .input-wrapper {
    background-color: white;
    color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    border-radius: 4px;
    overflow: hidden;
}
#contact .right .form-group .input-wrapper .icon {
    font-size: 2rem;
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
    background-color: rgb(218, 218, 218);
}

#contact .right .form-group .input-wrapper input {
    padding: 1rem;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    font-size: 2rem;
}

#contact .right .form-group textarea { 
    width: 100%;
    height: 250px;
    resize: vertical;
    padding: 1rem;
    outline: none;
    border-radius: 4px;
    font-size: 2rem;
}
#contact .right .form-wrapper button {
    display: inline-block;
    width: 150px;
    font-size: 2rem;
    text-transform: uppercase;
    height: auto;
    padding: 1rem 0;
    font-family: 'Roboto Mono';
    letter-spacing: .3rem;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
}

/* footer */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
	padding: 10rem 0 5rem 0;
}
#footer footer {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 2rem;
}
#footer footer .col-1 {
	flex: 3;
}
#footer footer .col-2,
#footer footer .col-3 {
	flex: 2;
}


#footer footer .col-1 .logo img {
	max-width: 100px;
	margin-bottom: 2rem;
    display: flex;
}
#footer footer .col-1 p {
	color: white;
    font-size: 0.8rem;
    text-align: left;
}

#footer footer .column-heading {
	font-family: 'Montserrat';
	font-size: 2rem;
	margin-bottom: 2rem;
	text-transform: uppercase;
	line-height: 1.5em;
}
#footer footer ul {
	list-style: none;
}
#footer footer ul li {
	border-radius: 4px;
}
#footer footer ul li:hover {
	background-color: white;
}
#footer footer ul li:hover a {
	color: var(--primary-color);
}
#footer footer ul li a {
	display: inline-block;
	width: 100%;
	color: white;
	font-size: 1.7rem;
	padding: 0.5rem;
}

@media only screen and (max-width: 768px) {
	#footer footer {
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	#footer footer .col-1,
	#footer footer .col-2,
	#footer footer .col-3 {
		width: 100%;
		margin-bottom: 3rem;
	}

}
/* end of footer */



@media only screen and (max-width:768px) {
    #contact .wrapper {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    #contact .right {
        width: 100%;
    }
    #contact .right .form-wrapper {
        padding: 3rem;
        width: 100%;
        max-width: 100%;
    }
}
